body {
  background-color: #fdf1d6;
}
hr {
  border-style: none;
  border-top: 10px dotted black;
  border-right: none;
  width: 10%;
}
h1 {
    color: #91091e;
}

h2 {
    color: #91091e;
}

h3 {
    color: #91091e;
}

img{
  border-radius: 50%;
}